

.imgItem {
    width: 200px;
    margin: 20px 20px;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 200px;
}
.price{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}