
.tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.imgItem {
    width: 200px;
    margin: 20px 20px;
    margin: 2%;
}

.name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 2%;
    
}
.description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 200px;
    text-align: center;
    margin: 2%;
}
.price{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin: 2%;
}

.boton-ver {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border: none;
    background-color: #fff;
    color: #5cb6a9;
    padding: 10px 10px;
    border-radius: 50rem;
    margin: 10px 0px;
    
}