.navbar-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    width: 100%;
    height:75px;
    background-color: #ffff;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    color: #d90080;
}

.button {
        border: none;
        background-color: #5cb6a9;
        color: #fff;
        padding: 10px 20px;
        margin: 20px 20px;
        border-radius: 50rem
}